# Ignore virtual environments
.venv/
venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore __pycache__ folders and compiled files
__pycache__/
*.pyc
*.pyo

# Ignore local environment configs
.env
*.env

# Ignore OS-specific junk
.DS_Store
Thumbs.db
